[submodule "libigl"]
	path = libigl
	url = https://github.com/FloorVerhoeven/libigl_old.git
	branch = master
[submodule "libiglVR"]
	path = libiglVR
	url = https://github.com/FloorVerhoeven/libiglVR.git
